In [2]:
%load_ext autoreload
%autoreload 2
import scrapping
import pandas as pd
import scrap2

In [3]:
scrap2.scrap()

Scraped: l'enquête corse (6)
Scraped: hermanas (1)
Scraped: ...and justice for all (2)
Scraped: francesco, giullare di dio (12)
Scraped: balseros (13)
Scraped: romasanta (15)
Scraped: das schreckliche mädchen (23)
Scraped: cinta pertama (20)
Scraped: magyar vándor (24)
Scraped: princesas (29)
Scraped: talaash (35)
Scraped: cronaca di un amore (34)
Scraped: gwendoline (39)
Scraped: no. 2 (66)Scraped: welcome home, roscoe jenkins (52)

Scraped: la religieuse (72)
Scraped: anna boleyn (74)
Scraped: twelve monkeys (73)
Scraped: sa-kwa (78)
Scraped: sukob (80)
Scraped: shouf shouf habibi! (83)
Scraped: der untergang (85)
Scraped: fan chan (93)
Scraped: la ciénaga (97)
Scraped: kamikaze 1989 (98)
Scraped: di que sí (105)
Scraped: mamiya kyodai (106)
Scraped: crna zorica (113)
Scraped: séraphin: un homme et son péché (119)
Scraped: der schuh des manitu (123)
Scraped: der tiger von eschnapur (130)
Scraped: pierrot le fou (129)
Scraped: mauvais sang (150)
Scraped: manon des sources (146)
Scraped: helmiä ja sikoja (166)
Scraped: den siste revejakta (163)
Scraped: clubland (162)
Scraped: nos 18 ans (175)
Scraped: 2 coelhos (186)
Scraped: senki (180)
Scraped: wes craven's new nightmare (188)
Scraped: cube 2: hypercube (193)
Scraped: alt for egil (200)
Scraped: mon petit doigt m'a dit... (210)
Scraped: oi paranomoi (214)
Scraped: la habitación azul (227)
Scraped: the big man (223)
Scraped: toinen jalka haudasta (239)
Scraped: guyana: crime of the century (243)
Scraped: la fille seule (246)
Scraped: no quarto da vanda (254)
Scraped: tali-ihantala 1944 (255)
Scraped: quai des orfèvres (256)
Scraped: notre musique (267)
Scraped: filantropica (266)
Scraped: fidibus (276)
Scraped: adieu gary (283)
Scraped: sairen (280)
Scraped: un coupable idéal (288)
Scraped: alla älskar alice (295)
Scraped: le colonel chabert (294)
Scraped: 2 days in new york (293)
Scraped: heiter bis wolkig (303)
Scraped: friday the 13th part vii: the new blood (302)
Scraped: pornografia (307)
Scraped: tanin no kao (306)
Scraped: gigante (310)
Scraped: hip hip hora! (315)
Scraped: elsk meg i morgen (323)
Scraped: sione's wedding (322)
Scraped: l'ami de mon amie (324)
Scraped: el último tren (341)
Scraped: el faro (350)
Scraped: dans la peau de jacques chirac (357)
Scraped: brutti, sporchi e cattivi (360)
Scraped: sabaidee luang prabang (368)
Scraped: c'eravamo tanto amati (372)
Scraped: jane austen's mafia! (370)
Scraped: innocence (377)
Scraped: atanarjuat (382)
Scraped: gente di roma (396)
Scraped: bienvenue en suisse (407)
Scraped: la leyenda de la llorona (404)
Scraped: sisily 2km (408)
Scraped: l'affaire farewell (420)
Scraped: le boulet (422)
Scraped: l'âge d'or (432)
Scraped: världens bästa karlsson (434)
Scraped: borat: cultural learnings of america for make benefit glorious nation of kazakhstan (433)
Scraped: bellamy (439)
Scraped: le sauvage (445)
Scraped: césar et rosalie (448)
Scraped: hanamizuki (460)
Scraped: ever after (459)
Scraped: yogen (462)
Scraped: straightheads (447)
Scraped: estômago (463)
Scraped: mon oncle d'amérique (467)
Scraped: la prima notte di quiete (466)
Scraped: meu nome não é johnny (472)
Scraped: jungdok (480)
Scraped: bamako (486)
Scraped: família vende tudo (489)
Scraped: alyah (492)
Scraped: loin (494)
Scraped: l'innocente (493)
Scraped: les parents terribles (500)
Scraped: bienvenue chez les ch'tis (499)
Scraped: ai-fak (523)
Scraped: milae (522)
Scraped: mon meilleur ami (526)
Scraped: footskating 101 (527)
Scraped: como esquecer (533)
Scraped: batoru rowaiaru ii: chinkonka (528)
Scraped: l'adversaire (534)
Scraped: chakushin ari 2 (538)
Scraped: les saignantes (546)
Scraped: saint ange (547)
Scraped: made in america (548)
Scraped: l'important c'est d'aimer (550)
Scraped: une femme est une femme (556)
Scraped: genova (553)
Scraped: j'ai rêvé sous l'eau (567)
Scraped: drømmen (577)
Scraped: les petites vacances (578)
Scraped: bjarnfreðarson (579)
Scraped: no sos vos, soy yo (583)
Scraped: klassfesten (591)
Scraped: profumo di donna (589)
Scraped: la caza (592)
Scraped: the beast (594)
Scraped: anata e (596)
Scraped: le grand alibi (607)
Scraped: patrik 1,5 (606)
Scraped: les amours d'astrée et de céladon (610)
Scraped: avp: alien vs. predator (612)
Scraped: profondo rosso (621)
Scraped: the outback (620)
Scraped: el aura (632)
Scraped: dek hor (629)
Scraped: le roi danse (640)
Scraped: die abenteuer des prinzen achmed (646)
Scraped: le beau mariage (641)
Scraped: agni varsha (656)
Scraped: nosso lar (659)
Scraped: boyband (664)
Scraped: luna de avellaneda (667)
Scraped: karasu no oyayubi (674)
Scraped: sirf tum (678)
Scraped: marius et jeannette (682)
Scraped: mon fils à moi (692)
Scraped: job, czyli ostatnia szara komórka (698)
Scraped: shiza (702)
Scraped: la mariée était en noir (707)
Scraped: tais-toi! (703)
Scraped: il posto (706)
Scraped: metegol (701)
Scraped: o pagador de promessas (708)
Scraped: the night we called it a day (713)
Scraped: love and other impossible pursuits (712)
Scraped: dead time: kala (716)
Scraped: 'n beetje verliefd (719)
Scraped: le grand soir (722)
Scraped: une femme douce (726)
Scraped: nos jours heureux (730)
Scraped: tatie danielle (732)
Scraped: das fräulein (731)
Scraped: le temps du loup (741)
Scraped: high school musical: el desafío (742)
Scraped: il postino (756)
Scraped: ek rishtaa: the bond of love (762)
Scraped: seefood (765)
Scraped: thick as thieves (774)
Scraped: os mutantes (783)
Scraped: baruto no gakuen (780)
Scraped: sword of the valiant: the legend of sir gawain and the green knight (787)
Scraped: je t'aime, je t'aime (794)
Scraped: the fog of war: eleven lessons from the life of robert s. mcnamara (795)
Scraped: nine to five (816)
Scraped: el espíritu de la colmena (817)
Scraped: vinterland (833)
Scraped: il colosso di rodi (831)
Scraped: cheech & chong's the corsican brothers (829)
Scraped: sista kontraktet (847)
Scraped: le trou (844)
Scraped: sexo con amor (848)
Scraped: f.i.s.t (851)
Scraped: pollen (862)
Scraped: i cento passi (866)
Scraped: you instead (868)
Scraped: el infierno (870)
Scraped: corazones de mujer (876)
Scraped: janosik. prawdziwa historia (878)
Scraped: dont look back (881)
Scraped: matando cabos (893)
Scraped: ju-on 2 (897)
Scraped: le notti di cabiria (896)
Scraped: joan of arc (902)
Scraped: la zona (904)
Scraped: battle of britain (907)
Scraped: les jeux de l'amour (912)
Scraped: moordwijven (921)
Scraped: the half life of timofey berezin (922)
Scraped: djinns (930)
Scraped: the man with rain in his shoes (942)
Scraped: koizora (948)
Scraped: klatretøsen (964)
Scraped: rosarigasinos (965)
Scraped: amandla! a revolution in four part harmony (960)
Scraped: mongol (963)
Scraped: l'enfer (976)
Scraped: malèna (984)
Scraped: the honorary consul (991)
Scraped: regeneration (990)
Scraped: ik omhels je met 1000 armen (986)
Scraped: kala malam bulan mengambang (987)
Scraped: van god los (999)
Scraped: la peau douce (993)
Saved: gross_999.csv
Scraped: shwaas (1006)
Scraped: pokrajina st.2 (1004)
Scraped: the pope must die (1003)
Scraped: say anything... (1012)
Scraped: mr. arkadin (1028)
Scraped: tjenare kungen (1026)
Scraped: game over: kasparov and the machine (1025)
Scraped: death wish v: the face of death (1029)
Scraped: deadline (1022)
Scraped: el abuelo (1030)
Scraped: c'est pas moi, je le jure! (1044)
Scraped: client 9: the rise and fall of eliot spitzer (1054)
Scraped: plane dead (1058)
Scraped: le fate ignoranti (1064)
Scraped: o homem do futuro (1069)
Scraped: o homem que copiava (1079)
Scraped: somtum (1081)
Scraped: el mismo amor, la misma lluvia (1089)
Scraped: l'enfer (1083)
Scraped: merci docteur rey (1088)
Scraped: babo (1092)
Scraped: the incident (1085)
Scraped: urumi (1090)
Scraped: nowhere to go but up (1093)
Scraped: samayou yaiba (1105)
Scraped: lucía y el sexo (1101)
Scraped: voces inocentes (1107)
Scraped: memorias del subdesarrollo (1119)
Scraped: boom (1123)
Scraped: bienvenue chez les rozes (1128)
Scraped: matir moina (1131)
Scraped: chandni chowk to china (1132)
Scraped: l'eclisse (1145)
Scraped: kai po che! (1150)
Scraped: maelström (1155)
Scraped: d@bbe (1169)
Scraped: 678 (1171)
Scraped: pelikaanimies (1178)
Scraped: 4 aventures de reinette et mirabelle (1184)Scraped: (500) days of summer (1179)

Scraped: avpr: aliens vs predator - requiem (1181)
Scraped: astrópía (1187)
Scraped: elsa y fred (1183)
Scraped: l'homme de rio (1190)
Scraped: dil bole hadippa! (1195)
Scraped: the secret of the sword (1196)
Scraped: il decameron (1200)
Scraped: fetih 1453 (1201)
Scraped: abre los ojos (1205)
Scraped: le vieux fusil (1206)
Scraped: comedian harmonists (1209)
Scraped: the 51st state (1214)
Scraped: amantes (1227)
Scraped: los olvidados (1232)
Scraped: gerboise bleue (1233)
Scraped: evolusi kl drift (1244)
Scraped: la pelota vasca. la piel contra la piedra (1245)
Scraped: maldeamores (1249)
Scraped: chai lai (1252)
Scraped: yoga hakwon (1253)
Scraped: 1732 høtten (1255)
Scraped: el fondo del mar (1254)
Scraped: quill (1257)
Scraped: the alibi (1258)
Scraped: hors de prix (1264)
Scraped: iznogoud (1267)
Scraped: das experiment (1268)
Scraped: cilada.com (1274)
Scraped: katy perry: part of me (1269)
Scraped: chillar party (1270)
Scraped: major movie star (1305)
Scraped: personal velocity: three portraits (1309)
Scraped: l'empire des loups (1308)
Scraped: butterfly on a wheel (1313)
Scraped: inspecteur lavardin (1327)
Scraped: la collectionneuse (1329)
Scraped: un flic (1331)
Scraped: salve geral (1339)
Scraped: 2 days in paris (1343)
Scraped: le corbeau (1344)
Scraped: bon cop, bad cop (1348)
Scraped: princess ka'iulani (1351)
Scraped: va savoir (1352)
Scraped: max manus (1355)
Scraped: allah ke banday (1361)
Scraped: l'avventura (1368)
Scraped: le déclin de l'empire américain (1367)
Scraped: pariah (1374)
Scraped: das wilde leben (1376)
Scraped: sheitan (1377)
Scraped: sur la piste du marsupilami (1380)
Scraped: d-war (1378)
Scraped: saturno contro (1389)
Scraped: jedda (1387)
Scraped: una mujer sin amor (1394)
Scraped: moe no suzaku (1396)
Scraped: monrak transistor (1397)
Scraped: waisa bhi hota hai part ii (1399)
Scraped: garo: red requiem (1403)
Scraped: derrière les murs (1411)
Scraped: le couperet (1413)
Scraped: drona (1414)
Scraped: apur sansar (1416)
Scraped: bill cunningham new york (1415)
Scraped: bride of frankenstein (1420)
Scraped: sedam i po (1424)
Scraped: caótica ana (1431)
Scraped: se nada mais der certo (1437)
Scraped: the return (1442)
Scraped: intouchables (1444)
Scraped: barda (1449)
Scraped: esperando la carroza (1456)
Scraped: le cerveau (1457)
Scraped: de scheepsjongens van bontekoe (1459)
Scraped: town creek (1460)
Scraped: saippuaprinssi (1468)
Scraped: le premier cercle (1469)
Scraped: le rose del deserto (1474)
Scraped: gorillas in the mist: the story of dian fossey (1475)
Scraped: il grido (1479)
Scraped: molokai: the story of father damien (1481)
Scraped: última parada 174 (1482)
Scraped: soeur sourire (1483)
Scraped: singh is kinng (1486)
Scraped: khan kluay (1496)
Scraped: les dalton (1499)
Scraped: kimjongilia (1497)
Scraped: café de la plage (1493)
Scraped: lilja 4-ever (1508)
Scraped: suite habana (1510)
Scraped: nuovo cinema paradiso (1536)
Scraped: gomorra (1543)
Scraped: scrooge (1551)
Scraped: la tourneuse de pages (1560)
Scraped: léolo (1568)
Scraped: cachorro (1572)
Scraped: peau d'ange (1570)
Scraped: teresa, el cuerpo de cristo (1573)
Scraped: les tontons flingueurs (1576)
Scraped: ok baytong (1582)
Scraped: hokkabaz (1589)
Scraped: conversaciones con mamá (1596)
Scraped: piedras (1598)
Scraped: o cheiro do ralo (1600)
Scraped: peau d'âne (1607)
Scraped: milou en mai (1613)
Scraped: state property 2 (1625)
Scraped: the best man (1628)
Scraped: lavoura arcaica (1629)
Scraped: good boy! (1640)
Scraped: antigua vida mía (1655)
Scraped: deusynlige (1654)
Scraped: rovdyr (1660)
Scraped: i mostri (1670)
Scraped: coco avant chanel (1678)
Scraped: la commare secca (1688)
Scraped: villmark (1696)
Scraped: aimée & jaguar (1706)
Scraped: thirteen conversations about one thing (1707)
Scraped: les anges exterminateurs (1712)
Scraped: la maison jaune (1717)
Scraped: the wild thornberrys movie (1731)
Scraped: ima, ai ni yukimasu (1725)
Scraped: veda (1742)
Scraped: büyü (1747)
Scraped: kirikou et la sorcière (1746)
Scraped: young black stallion (1751)
Scraped: trainwreck: my life as an idiot (1756)
Scraped: kevin of the north (1760)
Scraped: todas las azafatas van al cielo (1761)
Scraped: la notte (1779)
Scraped: ayat-ayat cinta (1778)
Scraped: shark bait (1775)
Scraped: deli yürek: bumerang cehennemi (1774)
Scraped: diario de una ninfómana (1782)
Scraped: pánská jízda (1787)
Scraped: bednye rodstvenniki (1802)
Scraped: el extraño viaje (1811)
Scraped: clément (1814)
Scraped: fallen (1817)
Scraped: the pirates who don't do anything: a veggietales movie (1819)
Scraped: ils se marièrent et eurent beaucoup d'enfants (1824)
Scraped: les filles du botaniste (1827)
Scraped: quelques jours en septembre (1830)
Scraped: 5x2 (1829)
Scraped: lacombe lucien (1831)
Scraped: padre nuestro (1835)
Scraped: blueberry (1846)
Scraped: manuale d'amore (1848)
Scraped: azur et asmar (1855)
Scraped: les derniers jours du monde (1872)
Scraped: yoake no machi de (1877)
Scraped: when a man falls in the forest (1881)
Scraped: hubble 3d (1884)
Scraped: le amiche (1886)
Scraped: young people fucking (1887)
Scraped: laberinto de pasiones (1898)
Scraped: haeundae (1902)
Scraped: série noire (1896)
Scraped: who dares wins (1911)
Scraped: the horror show (1912)
Scraped: l: change the world (1917)
Scraped: coup de foudre (1913)
Scraped: the boys: the sherman brothers' story (1932)
Scraped: la piscine (1946)
Scraped: voyna (1954)
Scraped: boðberi (1956)
Scraped: kaksipäisen kotkan varjossa (1958)
Scraped: shiawase no pan (1963)
Scraped: masjävlar (1966)
Scraped: el principio de arquímedes (1972)
Scraped: après vous... (1974)
Scraped: love, honour and obey (1975)
Scraped: winnie (1976)
Scraped: le serpent (1981)
Scraped: toto le héros (1983)
Scraped: el viento (1991)
Saved: gross_1999.csv
Scraped: goal! (2001)
Scraped: shark night 3d (2000)
Scraped: the beautiful ordinary (2022)
Scraped: pahat pojat (2026)
Scraped: les 3 p'tits cochons (2034)
Scraped: the mule (2037)
Scraped: grabben i graven bredvid (2047)
Scraped: touchez pas au grisbi (2051)
Scraped: the nutcracker in 3d (2073)
Scraped: viktor vogel - commercial man (2078)
Scraped: salò o le 120 giornate di sodoma (2079)
Scraped: guizi lai le (2083)
Scraped: jason goes to hell: the final friday (2084)
Scraped: gabriela, cravo e canela (2093)
Scraped: feux rouges (2094)
Scraped: y tu mamá también (2095)
Scraped: the vintner's luck (2098)
Scraped: l'enfant (2103)
Scraped: kader (2108)
Scraped: ana y los otros (2109)
Scraped: far til fire (2111)
Scraped: la mujer de mi hermano (2117)
Scraped: kontroll (2116)
Scraped: antonia (2125)
Scraped: like minds (2146)
Scraped: provinces of night (2145)
Scraped: stepfather ii (2143)
Scraped: fanfan la tulipe (2149)
Scraped: prêt-à-porter (2154)
Scraped: promeny (2164)
Scraped: nanny mcphee and the big bang (2172)
Scraped: ci ling (2185)
Scraped: la leggenda del santo bevitore (2187)
Scraped: the wannabes (2183)
Scraped: l'intrus (2190)
Scraped: la belle noiseuse (2193)
Scraped: supervoksen (2204)
Scraped: im juli (2208)
Scraped: hoodwinked too! hood vs. evil (2207)
Scraped: jennifer eight (2200)
Scraped: les chevaliers du ciel (2216)
Scraped: tell-tale (2220)
Scraped: happy few (2231)
Scraped: amaya (2236)
Scraped: ouija (2238)
Scraped: merci pour le chocolat (2243)
Scraped: chokher bali (2241)
Scraped: plein soleil (2248)
Scraped: el perro (2240)
Scraped: buenos aires 100 kilómetros (2254)
Scraped: sl8n8 (2250)
Scraped: aleksandra (2260)
Scraped: zhmurki (2268)
Scraped: el ángel exterminador (2276)
Scraped: oberst redl (2270)
Scraped: prête-moi ta main (2269)
Scraped: tipu kanan tipu kiri (2295)
Scraped: une hirondelle a fait le printemps (2296)
Scraped: haute tension (2297)
Scraped: in god we tru$t (2303)
Scraped: g@me (2308)
Scraped: hu die fei (2316)
Scraped: dabangg 2 (2317)
Scraped: putevoy obkhodchik (2320)
Scraped: koma (2321)
Scraped: bruna surfistinha (2322)
Scraped: lidice (2324)
Scraped: europa '51 (2325)
Scraped: the boys from county clare (2331)
Scraped: la femme de l'aviateur (2332)
Scraped: the wisdom of crocodiles (2335)
Scraped: friday the 13th part 2 (2336)
Scraped: maman est chez le coiffeur (2342)
Scraped: francia (2347)
Scraped: ce qu'il faut pour vivre (2356)
Scraped: lascars (2354)
Scraped: viva la vie (2364)
Scraped: aya de yopougon (2369)
Scraped: cóndor crux, la leyenda (2375)
Scraped: los reyes magos (2377)
Scraped: pisaj (2380)
Scraped: stanno tutti bene (2385)
Scraped: les nuits de la pleine lune (2383)
Scraped: brice de nice (2388)
Scraped: les visiteurs (2391)
Scraped: emporte-moi (2398)
Scraped: le fantôme de la liberté (2397)
Scraped: nousukausi (2401)
Scraped: tere naam (2409)
Scraped: pihalla (2410)
Scraped: mangal pandey: the rising (2412)
Scraped: der tunnel (2408)
Scraped: snowtown (2419)
Scraped: belphégor - le fantôme du louvre (2418)
Scraped: nouvelle-france (2427)
Scraped: babycall (2435)
Scraped: battle: los angeles (2430)
Scraped: three and out (2438)
Scraped: le divorce (2446)
Scraped: razzle dazzle: a journey into dance (2441)
Scraped: gloomy sunday - ein lied von liebe und tod (2450)
Scraped: mechenosets (2451)
Scraped: waltzes from vienna (2454)
Scraped: la moustache (2460)
Scraped: irréversible (2452)
Scraped: sengoku jieitai 1549 (2461)
Scraped: la luna (2467)
Scraped: bob le flambeur (2471)
Scraped: awesome; i fuckin' shot that! (2477)
Scraped: dodesukaden (2488)
Scraped: iluzija (2489)
Scraped: thérèse desqueyroux (2497)
Scraped: frankie go boom (2503)
Scraped: gin-iro no kami no agito (2499)
Scraped: la confusion des genres (2506)
Scraped: karlas kabale (2507)
Scraped: varannan vecka (2508)
Scraped: alatriste (2512)
Scraped: mensonges et trahisons et plus si affinités... (2513)
Scraped: tout est parfait (2510)
Scraped: otoko-tachi no yamato (2524)
Scraped: barbarossa (2526)
Scraped: ó paí, ó (2532)
Scraped: la mort en ce jardin (2530)
Scraped: séraphine (2541)
Scraped: hadersfild (2566)
Scraped: largo winch (2567)
Scraped: boogie (2578)
Scraped: el juego de arcibel (2577)
Scraped: apasionados (2579)
Scraped: änglagård (2584)
Scraped: makdee (2587)
Scraped: the death and life of bobby z (2588)
Scraped: fehérlófia (2592)
Scraped: veyyil (2598)
Scraped: don't tell her it's me (2597)
Scraped: himizu (2607)
Scraped: les témoins (2611)
Scraped: elfie hopkins (2615)
Scraped: transe (2614)
Scraped: 3 men and a little lady (2616)
Scraped: novaya zemlya (2623)
Scraped: la famiglia (2625)
Scraped: straight to hell (2628)
Scraped: shall we dance? (2630)
Scraped: la chinoise (2635)
Scraped: alles is liefde (2640)
Scraped: d-tox (2648)
Scraped: the syrian bride (2666)
Scraped: la conjura de el escorial (2677)
Scraped: o' horten (2680)
Scraped: pretendiendo (2687)
Scraped: los andes no creen en dios (2695)
Scraped: un barrage contre le pacifique (2708)
Scraped: cuore sacro (2704)
Scraped: le garçu (2712)
Scraped: garv: pride and honour (2724)
Scraped: tacones lejanos (2736)
Scraped: bathory (2743)
Scraped: la messa è finita (2744)
Scraped: soo (2745)
Scraped: sunrise: a song of two humans (2760)
Scraped: urban explorer (2763)
Scraped: barfuss (2771)
Scraped: la voce della luna (2777)
Scraped: 20 centímetros (2786)
Scraped: bolbol hayran (2797)
Scraped: la baie des anges (2792)
Scraped: il boom (2802)
Scraped: la masseria delle allodole (2816)
Scraped: special chabbis (2827)
Scraped: algérie, histoires à ne pas dire (2835)
Scraped: la monja (2837)
Scraped: the grotesque (2839)
Scraped: km. 0 (2843)
Scraped: reykjavík-rotterdam (2845)
Scraped: opera jawa (2847)
Scraped: passe-passe (2868)
Scraped: il bacio di tosca (2871)
Scraped: le cou de la girafe (2874)
Scraped: kokoda (2875)
Scraped: le concert (2877)
Scraped: trop belle pour toi (2879)
Scraped: tête de turc (2878)
Scraped: bande à part (2887)

In [7]:
m1000 = pd.read_csv('gross_1000.csv')

In [9]:
m1000["movie"].nunique()

294

In [20]:
scrap2.merge()

In [4]:
scrap2.merge2()
scrap2.merge3()

In [3]:
merged_df = pd.read_csv('gross_merged.csv')

11649

In [4]:
print(merged_df["country"].nunique())
print(merged_df["movie"].nunique())

322
12263

In [8]:
#format the gross revenue
merged_df["gross"] = merged_df["gross"].str.replace('$', '').replace(',', '', regex=True)
#remove all non numeric values
merged_df["gross"] = pd.to_numeric(merged_df["gross"], errors='coerce')

In [9]:
fr_bo =merged_df[merged_df["country"]=="France"]

In [10]:
fr_bo["movie"].nunique()

2911

In [11]:
fr_bo.head()

,Unnamed: 0.2,Unnamed: 0.1,movie,country,gross,Unnamed: 0
6,6,6,l'enquête corse,France,17755607.0,6.0
14,14,14,"francesco, giullare di dio",France,4223.0,14.0
51,51,51,"welcome home, roscoe jenkins",France,52395.0,51.0
63,63,63,twelve monkeys,France,10175673.0,63.0
76,76,76,der untergang,France,6382713.0,76.0

In [12]:
#sort the values
fr_bo = fr_bo.sort_values(by="gross", ascending=False)

In [14]:
fr_bo.head(20)

,Unnamed: 0.2,Unnamed: 0.1,movie,country,gross,Unnamed: 0
429,429,429,bienvenue chez les ch'tis,France,193764365.0,429.0
35382,32174,2374,avatar,France,181757632.0,2374.0
1547,1547,567,intouchables,France,166126377.0,567.0
33173,29965,165,titanic,France,129127181.0,165.0
47032,43824,1450,asterix & obelix: mission cleopatra,France,77209645.0,1450.0
54323,51115,1613,ice age: dawn of the dinosaurs,France,69240468.0,1613.0
32421,29213,1797,the lion king,France,68817103.0,1797.0
20686,17478,782,finding nemo,France,66136981.0,782.0
42003,38795,1245,ratatouille,France,65645333.0,1245.0
99690,96482,1082,skyfall,France,60127766.0,1082.0
80738,77530,1209,ice age: continental drift,France,55547374.0,1209.0
46893,43685,1311,spider-man 3,France,54590623.0,1311.0
12762,9554,2005,harry potter and the half-blood prince,France,54158946.0,2005.0
77126,73918,112,home on the range,France,53790055.0,112.0
57926,54718,468,harry potter and the chamber of secrets,France,53140768.0,468.0
27181,23973,1533,harry potter and the order of the phoenix,France,51829614.0,1533.0
74417,71209,1807,shrek 2,France,50966511.0,1807.0
16787,13579,1917,harry potter and the goblet of fire,France,50780955.0,1917.0
36975,33767,1036,little nicholas,France,50724899.0,1036.0
21659,18451,1755,pirates of the caribbean: on stranger tides,France,49217332.0,1755.0

In [18]:
merged_df[merged_df["country"]=="Switzerland"].sort_values(by="gross", ascending=False).head(10)

,Unnamed: 0.2,Unnamed: 0.1,movie,country,gross,Unnamed: 0
35391,32183,2383,avatar,Switzerland,21025501.0,2383.0
33180,29972,172,titanic,Switzerland,19449406.0,172.0
54327,51119,1617,ice age: dawn of the dinosaurs,Switzerland,13999976.0,1617.0
103546,100338,2030,ice age: the meltdown,Switzerland,12019262.0,2030.0
22110,18902,2206,madagascar: escape 2 africa,Switzerland,11010683.0,2206.0
103083,99875,1567,the lord of the rings: the return of the king,Switzerland,10991061.0,1567.0
34787,31579,1779,quantum of solace,Switzerland,10702249.0,1779.0
432,432,432,bienvenue chez les ch'tis,Switzerland,9897101.0,432.0
42008,38800,1250,ratatouille,Switzerland,9756656.0,1250.0
14296,11088,1423,the lord of the rings: the two towers,Switzerland,9199955.0,1423.0

In [5]:
gm = pd.read_csv('gross_merged.csv')
gm_subset = gm[["movie", "country", "gross"]]
gm_subset.head()

                    movie           country        gross
0                hermanas             Spain      $82,034
1                hermanas         Argentina      $97,087
2  ...and justice for all          Domestic  $33,300,000
3         l'enquête corse  Original Release   APAC, EMEA
4         l'enquête corse   2006 Re-release     Portugal

In [8]:
gm_subset["gross"] = pd.to_numeric(merged_df["gross"].str.replace('$', '').replace(',', '', regex=True),errors='coerce')

/var/folders/l5/6hdc9vld0fg61cf6tjrw3f100000gn/T/ipykernel_30173/796786238.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gm_subset["gross"] = pd.to_numeric(merged_df["gross"].str.replace('$', '').replace(',', '', regex=True),errors='coerce')

In [9]:
gm_subset.head()

                    movie           country       gross
0                hermanas             Spain     82034.0
1                hermanas         Argentina     97087.0
2  ...and justice for all          Domestic  33300000.0
3         l'enquête corse  Original Release         NaN
4         l'enquête corse   2006 Re-release         NaN

In [10]:
gm_subset_dropna = gm_subset.dropna()
gm_subset_dropna.head()

                    movie    country       gross
0                hermanas      Spain     82034.0
1                hermanas  Argentina     97087.0
2  ...and justice for all   Domestic  33300000.0
6         l'enquête corse     France  17755607.0
7         l'enquête corse    Hungary    258809.0

In [13]:
gm_subset_dropna.shape

(98037, 3)

In [14]:
gm_subset_dropna.to_csv('gross_merged_cleaned.csv', index=False)

In [16]:
ids = pd.concat([pd.read_csv("name_id.csv"),pd.read_csv("name_id_original.csv")])

In [18]:
gm_subset_dropna_id = pd.merge(gm_subset_dropna, ids,left_on="movie", right_on="Name", how="left")

In [19]:
gm_subset_dropna_id.head()

,movie,country,gross,Name,tconst,Release_Date
0,hermanas,Spain,82034.0,hermanas,tt0362718,2005
1,hermanas,Argentina,97087.0,hermanas,tt0362718,2005
2,...and justice for all,Domestic,33300000.0,...and justice for all,tt0078718,1979
3,l'enquête corse,France,17755607.0,l'enquête corse,tt0380349,2004
4,l'enquête corse,Hungary,258809.0,l'enquête corse,tt0380349,2004

In [21]:
mt = gm_subset_dropna_id[["movie","tconst"]].drop_duplicates()
mt.head()

                         movie     tconst
0                     hermanas  tt0362718
2       ...and justice for all  tt0078718
3              l'enquête corse  tt0380349
11  francesco, giullare di dio  tt0042477
12                    balseros  tt0321376